$kanit: 'Kanit', 'sans-serit';
$lato: 'Lato', 'sans-serit';

$primaryColor: #C2A770;

@import './template';
@import './button';

$colors: (
  title: #0000b4,
  text: #010131,
  textdescription: #363636,
  time: #878787,
);

@function color($colors-name) {
  @return map-get($colors, $colors-name);
}

// css responsive
